<!--
    App main view
-->
<%- include header.ejs %>

    <div class="container app" role="app">

        <div class="container new-message-wrapper">

            <div class="new-message">
                <div class="avatar">
                    <img class="img-circle" src="images/<%= user.avatar_src %>" alt="">
                </div>
                <div class="message-body">
                    <form class="new-message-form" action="">
                        <textarea name="message-text" placeholder="What's on your mind" name="" id="" cols="30" rows="10">What's on your mind? </textarea>
                        <hr>
                        <div class="actions">

                            <input class="button" value="Share." type="submit">
                            <input type="hidden" name="author-id" value="<%= user._id %>">
                            <input type="hidden" name="author-display-name" value="<%= user.display_name %>">
                            <input type="hidden" name="author-avatar-src" value="<%= user.avatar_src %>">
                        </div>
                   </form>
                </div>
            </div>

        </div>

        <div class="messages">

            <% messages.forEach( function( message ) { %>

                <div class="message">
                    <div class="avatar">
                        <img class="img-circle" src="images/<%= message.author_avatar_src %>" alt="">
                    </div>
                    <div class="message-body">
                        <h4><%= message.author_display_name %><span class="small"> •
                            <%= message.date %><span></h4>
                        <p><%= message.message_text %></p>
                    </div>
                </div>

            <% }) %>

        </div>

    </div>

<%- include footer.ejs %>